/* Component Home.jsx */
.home {
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-content: center;
  padding: 1rem;
  overflow: hidden;
  animation: bg 10s ease-in-out;
}

.home .content {
  display: grid;
  align-content: center;
  padding: 1rem;
}

.home .content .date-time {
  align-content: center;
  grid-column: 1 / span 2;
  padding: 1rem;
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
}

.home .content .date-time h1 {
  text-align: center;
  color: #E0EAFC;
}

.home .content .date-time h3 {
  margin-top: 1rem;
  text-align: center;
  color: #E0EAFC;
}

.home .content .chat-home {
  position: relative;
  grid-column: 3;
  grid-row: 1 / span 4;
  padding: 1rem;
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
}

.home .content .chat-home:hover {
  background-attachment: fixed;
  background-size: 500%;
  overflow: hidden;
  animation: bg 10s ease-in-out;
}

.home .content .chat-home h1 {
  font-size: 1.6rem;
  color: #E0EAFC;
  transform: rotate(90deg);
}

.home .content .chat-home .mini-icon {
  position: absolute;
  right: 1rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.home .content .chat-home .icon-full {
  color: #E0EAFC;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.home .content .chat-home .icon-full:hover {
  scale: 1.4;
}

.home .content .chat-home .icon-theme {
  margin-right: 1rem;
  color: #E0EAFC;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.home .content .chat-home .icon-theme:hover {
  scale: 1.4;
}

.home .content .chat-home .icon-language {
  text-transform: uppercase;
  line-height: 100%;
  margin-right: 1rem;
  color: #E0EAFC;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.home .content .chat-home .icon-language:hover {
  scale: 1.4;
}

.home .content .chat-home .show-message {
  width: 100%;
  height: 85%;
  overflow: scroll;
  overflow-x: hidden;
}

.home .content .chat-home .show-message::-webkit-scrollbar {
  display: none;
}

.home .content .chat-home .show-message p {
  display: inline-block;
  max-width: 60%;
  font-size: 1rem;
  padding: 0.6rem;
  border: 2px solid #E0EAFC;
  color: #E0EAFC;
  margin-bottom: 1rem;
}

.home .content .chat-home .show-message .human {
  text-align: end;
}

.home .content .chat-home .show-message .ai-message {
  border-radius: 0 1rem 1rem 1rem;
}

.home .content .chat-home .show-message .human-message {
  background-color: rgba(60, 16, 83, 0.4);
  border-radius: 1rem 0 1rem 1rem;
  background: linear-gradient(45deg, #3c1053, #ad5389, #3c1053);
  background-attachment: fixed;
  background-size: 100%;
  overflow: hidden;
}

.home .content .chat-home form {
  align-items: center;
  width: 100%;
  height: 12%;
  padding: 0.6rem;
  border: 2px solid #E0EAFC;
  border-radius: 2rem;
}

.home .content .chat-home form button {
  background: none;
  border: none;
}

.home .content .chat-home form .icon-send {
  padding-right: 1rem;
  color: #E0EAFC;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.home .content .chat-home form .icon-send:hover {
  scale: 1.3;
}

.home .content .chat-home form input {
  width: 100%;
  height: 100%;
  padding: 0.2rem 0.2rem 0.2rem 1rem;
  background: none;
  border: none;
  outline: none;
  color: #E0EAFC;
}

.home .content .chat-home form input::placeholder {
  color: #E0EAFC;
}

.home .content .logo {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  padding: 1rem;
  text-align: center;
  align-content: center;
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
}

.home .content .logo h1 {
  color: #E0EAFC;
}

.home .content .profile {
  grid-column: 2 / span 1;
  grid-row: 2 / span 3;
  padding: 1rem;
  text-align: center;
  align-content: center;
  justify-items: center;
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.home .content .default:hover {
  background: linear-gradient(45deg, #3c1053, #ad5389, #3c1053);
  background-attachment: fixed;
  background-size: 500%;
  overflow: hidden;
  animation: bg 10s ease-in-out;
}

.home .content .GradeGrey:hover {
  background: linear-gradient(45deg, #2c3e50, #bdc3c7, #2c3e50);
  background-attachment: fixed;
  background-size: 500%;
  overflow: hidden;
  animation: bg 10s ease-in-out;
}

.home .content .PinkFlavour:hover {
  background: linear-gradient(45deg, #800080, #ffc0cb, #800080);
  background-attachment: fixed;
  background-size: 500%;
  overflow: hidden;
  animation: bg 10s ease-in-out;
}

.home .content .VisionsofGrandeur:hover {
  background: linear-gradient(45deg, #000046, #1CB5E0, #000046);
  background-attachment: fixed;
  background-size: 500%;
  overflow: hidden;
  animation: bg 10s ease-in-out;
}

.home .content .WhatliesBeyond:hover {
  background: linear-gradient(45deg, #000C40, #F0F2F0, #000C40);
  background-attachment: fixed;
  background-size: 500%;
  overflow: hidden;
  animation: bg 10s ease-in-out;
}

.home .content .TheBlueLagoon:hover {
  background: linear-gradient(45deg, #43C6AC, #191654, #43C6AC);
  background-attachment: fixed;
  background-size: 500%;
  overflow: hidden;
  animation: bg 10s ease-in-out;
}

.home .content .CalmDarya:hover {
  background: linear-gradient(45deg, #5f2c82, #49a09d, #5f2c82);
  background-attachment: fixed;
  background-size: 500%;
  overflow: hidden;
  animation: bg 10s ease-in-out;
}

.home .content .profile h1 {
  font-size: 1.4rem;
  color: #E0EAFC;
}

.home .content .setting {
  font-weight: bold;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  color: #E0EAFC;
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.home .content .setting:hover {
  background: linear-gradient(45deg, #3c1053, #ad5389, #3c1053);
  background-attachment: fixed;
  background-size: 500%;
  overflow: hidden;
  animation: bg 10s ease-in-out;
}

.home .content .show-setting {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.4rem);
  justify-items: center;
  align-content: center;
  z-index: 1;
}

.home .show-setting form {
  position: relative;
  width: 50%;
  padding: 1.6rem;
  border: 2px solid #E0EAFC;
}

.home .show-setting .header-setting {
  position: absolute;
  top: -1.6rem;
  color: #E0EAFC;
}

.home .show-setting form label {
  cursor: pointer;
}

.home .show-setting .label-theme {
  display: flex;
  align-items: center;
  width: 50%;
  text-align: center;
  margin-bottom: 1.6rem;
  border: 2px solid #E0EAFC;
  border-radius: 2rem;
  overflow: hidden;
}

.home .show-setting .label-theme h1 {
  width: 30%;
  padding: 1rem;
  background-color: #ad5389;
  color: #E0EAFC;
}

.home .show-setting .theme {
  width: 70%;
}

.home .show-setting .theme input {
  display: none;
  cursor: pointer;
}

.home .show-setting .theme label {
  margin-right: 2rem;
}

.home .show-setting .theme-default {
  padding: 0.6rem 0.8rem;
  background-image: linear-gradient(to left,#ad5389, #3c1053);
  color: #E0EAFC;
  border-radius: 2rem;
}

.home .show-setting .label-language {
  display: flex;
  align-items: center;
  width: 50%;
  text-align: center;
  margin-bottom: 1.6rem;
  border: 2px solid #E0EAFC;
  border-radius: 2rem;
  overflow: hidden;
}

.home .show-setting .label-language h1 {
  width: 30%;
  height: 100%;
  padding: 1rem;
  background-color: #ad5389;
  color: #E0EAFC;
}

.home .show-setting .language {
  width: 70%;
}

.home .show-setting .language select {
  width: 80%;
  height: 100%;
  padding: 1rem;
  background: none;
  color: #E0EAFC;
  border: none;
  outline: none;
}

.home .show-setting .language option {
  background-color: #3c1053;
}

.home .show-setting .btn-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .show-setting .btn-2 button {
  padding: 0.6rem 1rem;
  border: 2px solid #E0EAFC;
  color: #E0EAFC;
  border-radius: 2rem;
  background: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.home .show-setting .btn-2 button:nth-child(2) {
  background-color: rgba(0, 209, 14, 0.4);
}

.home .show-setting .btn-2 button:nth-child(2):hover {
  background-color: rgba(0, 255, 17, 0.6);
}

.home .show-setting .btn-2 button:hover {
  background-color: #ad5389;
}

.home .content .exit {
  font-weight: bold;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  color: #E0EAFC;
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.home .content .exit:hover {
  background: linear-gradient(45deg, #3c1053, #ad5389, #3c1053);
  background-attachment: fixed;
  background-size: 500%;
  overflow: hidden;
  animation: bg 10s ease-in-out;
}

/* Components Register.jsx */
.register {
  width: 100vw;
  height: 100vh;
  animation: bg 10s ease-in-out;
}

.register .content {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.register .content .left {
  justify-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.register .content .left form {
  justify-items: center;
  align-content: center;
  width: 80%;
  height: 70%;
  animation: start-form 4s ease-in-out;
}

.register .content .left form h1 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  color: #E0EAFC;
}

.register .content .left form input {
  font-size: 1rem;
  max-width: 80%;
  padding: 0.6rem;
  margin: 0 1rem;
  margin-bottom: 1.6rem;
  background: none;
  color: #E0EAFC;
  outline: none;
  border: none;
  border-bottom: 2px solid #E0EAFC;
}

.register .content .left form input::placeholder {
  color: #E0EAFC;
}

.register .content .left form button {
  margin-top: 1.6rem;
  padding: 0.6rem 1rem;
  background: none;
  color: #E0EAFC;
  border: 2px solid #E0EAFC;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.register .content .left form button:hover {
  padding: 0.6rem 1.6rem;
  background: linear-gradient(45deg, #3c1053, #ad5389, #3c1053);
  background-attachment: fixed;
  background-size: 500%;
  animation: bg-ift 4s infinite ease;
}

.register .content .right {
  background-image: url("images/lgn_rgs.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.register .new-profile {
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #3c1053, #ad5389, #3c1053);
  background-attachment: fixed;
  background-size: 500%;
}

.register .new-profile form {
  position: relative;
  width: 40%;
  padding: 1.6rem;
  border: 2px solid #E0EAFC;
}

.register .new-profile form label {
  cursor: pointer;
}

.register .new-profile .sex input {
  display: none;
  cursor: pointer;
}

.register .new-profile .header-profile {
  position: absolute;
  top: -1.6rem;
  color: #E0EAFC;
}

.register .new-profile .label-sex  {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.6rem;
  border: 2px solid #E0EAFC;
  border-radius: 2rem;
  overflow: hidden;
}

.register .new-profile .label-sex h1 {
  width: 30%;
  height: 100%;
  padding: 1rem;
  background-color: #ad5389;
  color: #E0EAFC;
}

.register .new-profile .sex {
  width: 70%;
  color: #E0EAFC;
}

.register .new-profile .sex label {
  margin-right: 2rem;
  padding: 0.6rem;
  border-radius: 2rem;
  transition: all 0.4s ease-in-out;
}

.register .new-profile .sex label:hover {
  background-color: #ad5389;
}

.register .new-profile .label-age {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.6rem;
  border: 2px solid #E0EAFC;
  border-radius: 2rem;
  overflow: hidden;
}

.register .new-profile .label-age h1 {
  width: 30%;
  height: 100%;
  padding: 1rem;
  background-color: #ad5389;
  color: #E0EAFC;
}

.register .new-profile .label-age input {
  width: 70%;
  height: 100%;
  padding: 1rem;
  color: #E0EAFC;
  background: none;
  border: none;
  outline: none;
}

.register .new-profile .label-age input::placeholder {
  color: #E0EAFC;
}

.register .new-profile .label-job {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.6rem;
  border: 2px solid #E0EAFC;
  border-radius: 2rem;
  overflow: hidden;
}

.register .new-profile .label-job h1 {
  width: 30%;
  height: 100%;
  padding: 1rem;
  background-color: #ad5389;
  color: #E0EAFC;
}

.register .new-profile .job {
  width: 70%;
  height: 100%;
  padding: 1rem;
  background: none;
  color: #E0EAFC;
  border: none;
  outline: none;
}

.register .new-profile .job option {
  background-color: #3c1053;
}

.register .new-profile .btn-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register .new-profile .btn-2 button {
  padding: 0.6rem 1rem;
  border: 2px solid #E0EAFC;
  color: #E0EAFC;
  border-radius: 2rem;
  background: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.register .new-profile .btn-2 button:nth-child(2) {
  background-color: rgba(0, 209, 14, 0.4);
}

.register .new-profile .btn-2 button:nth-child(2):hover {
  background-color: rgba(0, 255, 17, 0.6);
}

.register .new-profile .btn-2 button:hover {
  background-color: #ad5389;
}

/* Component Login.jsx */
.login {
  width: 100vw;
  height: 100vh;
}

.login .content {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login .content .left {
  background-image: url("images/lgn_rgs.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.login .content .right {
  justify-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #3c1053, #ad5389, #3c1053);
  background-attachment: fixed;
  background-size: 100%;
  overflow: hidden;
  animation: bg 10s ease-in-out;
}

.login .content .right form {
  justify-items: center;
  align-content: center;
  width: 80%;
  height: 70%;
  animation: start-form 4s ease-in-out;
}

.login .content .right form h1 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  color: #E0EAFC;
}

.login .content .right form input {
  font-size: 1rem;
  max-width: 80%;
  padding: 0.6rem;
  margin: 0 1rem;
  margin-bottom: 1.6rem;
  background: none;
  color: #E0EAFC;
  outline: none;
  border: none;
  border-bottom: 2px solid #E0EAFC;
}

.login .content .right form input::placeholder {
  color: #E0EAFC;
}

.login .content .right form button {
  margin-top: 1.6rem;
  padding: 0.6rem 1rem;
  background: none;
  color: #E0EAFC;
  border: 2px solid #E0EAFC;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.login .content .right form button:hover {
  padding: 0.6rem 1.6rem;
  background: linear-gradient(45deg, #3c1053, #ad5389, #3c1053);
  background-attachment: fixed;
  background-size: 500%;
  animation: bg 4s infinite ease;
}

@keyframes start-form {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 90%;
  }
}

/* Component Chat.jsx */
.chat {
  width: 100vw;
  height: 100vh;
  animation: bg 10s ease-in-out;
}

.chat .content {
  width: 100%;
  height: 100%;
  /* background: radial-gradient(circle, #ad5389, #3c1053); */
  background-attachment: fixed;
  background-size: 100%;
  overflow: hidden;
}

.chat .silde-left {
  position: relative;
  width: 30%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(60, 16, 83, 0.4);
}

.chat .silde-left button {
  padding: 0.6rem;
  background: none;
  color: #E0EAFC;
  border: 2px solid #E0EAFC;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.chat .silde-left button:hover {
  border-color: #ad5389;
  box-shadow: inset 0 0 1rem #ad5389;
}

.chat .silde-left .line {
  width: 100%;
  height: 0.2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  background-color: #ad5389;
}

.chat .silde-left .history {
  width: 100%;
  height: 70%;
  overflow: auto;
  overflow-x: hidden;
}

.chat .silde-left .history::-webkit-scrollbar {
  width: 0.3rem;
}

.chat .silde-left .history::-webkit-scrollbar-track {
  background-color: rgba(60, 16, 83, 0.4);
}

.chat .silde-left .history::-webkit-scrollbar-thumb {
  background-color: rgba(173, 83, 137, 0.5);
}

.chat .silde-left .history .name-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 2px solid #E0EAFC;
  border-radius: 1rem;
  color: #E0EAFC;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.chat .silde-left .history .name-icon:hover {
  border-color: #ad5389;
  box-shadow: inset 0 0 1rem #ad5389;
}

.chat .silde-left .history .name-icon p {
  width: 100%;
}

.chat .silde-left .history .name-icon .icon-delete {
  transition: all 0.6s ease-in-out;
}

.chat .silde-left .history .name-icon .icon-delete:hover {
  scale: 1.2;
}

.chat .silde-left .mini-menu {
  text-align: right;
  width: 100%;
  color: #E0EAFC;
}

.chat .silde-left .mini-menu .icon-mini {
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.chat .silde-left .mini-menu .icon-mini:hover {
  scale: 1.2;
  color: #ad5389;
}

.chat .menu-moblie {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: rgba(173, 83, 137, 0.4);
}

.chat .menu-moblie .icon-moblie {
  color: #E0EAFC;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.chat .menu-moblie .icon-moblie:hover {
  scale: 1.2;
}

.chat .silde-right {
  position: relative;
  min-width: 70%;
  width: 100%;
  align-content: center;
  padding: 1rem;
  background-color: rgba(60, 16, 83, 0.25);
}

.chat .silde-right .resizer {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.2rem;
  height: 100%;
  background-color: #ad5389;
  cursor: alias;
}

.chat .silde-right .non-history {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #3c1053;
  color: #E0EAFC;
  z-index: 2;
}

.chat .silde-right .show-message {
  height: 80%;
  margin-bottom: 0.6rem;
  overflow: auto;
  overflow-x: hidden;
}

.chat .silde-right .show-message::-webkit-scrollbar {
  display: none;
}

.chat .silde-right .show-message .ai-message {
  display: inline-block;
  max-width: 80%;
  font-size: 0.9rem;
  padding: 0.8rem;
  color: #E0EAFC;
  border: 2px solid #E0EAFC;
  border-radius: 0 1rem 1rem 1rem;
}

.chat .silde-right .show-message .h-message {
  justify-self: flex-end;
  max-width: 80%;
}

.chat .silde-right .show-message .human-message {
  display: inline-block;
  padding: 0.8rem;
  margin: 1rem 0;
  font-size: 0.9rem;
  background-color: rgba(60, 16, 83, 1);
  color: #E0EAFC;
  border: 2px solid #E0EAFC;
  border-radius: 1rem 0 1rem 1rem;
}

.chat .silde-right .input {
  display: flex;
  justify-content: space-between;
}

.chat .silde-right .input form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 2px solid #E0EAFC;
  border-radius: 2rem;
}

.chat .silde-right .input form input {
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  background: none;
  color: #E0EAFC;
  border: none;
  outline: none;
}

.chat .silde-right .input form input::placeholder {
  color: #E0EAFC;
}

.chat .silde-right .input .icon-send {
  padding: 0.4rem;
  margin: 0 1rem;
  color: #E0EAFC;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.chat .silde-right .input .icon-send:hover {
  scale: 1.2;
  color: #ad5389;
}

.chat .silde-right .input button {
  margin-left: 1rem;
  padding: 0.6rem;
  background: none;
  color: #E0EAFC;
  border: 2px solid #E0EAFC;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.chat .silde-right .input button:hover {
  border-color: #ad5389;
  box-shadow: inset 0 0 1rem #ad5389;
}

.chat .silde-right .warning {
  margin-top: 0.4rem;
  text-align: center;
  color: #E0EAFC;
}

.chat .silde-right .warning p {
  font-size: 0.6rem;
}

.chat .option-moblie {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background: radial-gradient(circle, #ad5389, #3c1053);
}

.chat .option-moblie .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat .option-moblie .nav-menu h1 {
  color: #E0EAFC;
}

.chat .option-moblie .nav-menu .icon-exit {
  color: #E0EAFC;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.chat .option-moblie .nav-menu .icon-exit:hover {
  scale: 1.2;
}

.chat .option-moblie .line {
  width: 100%;
  height: 0.2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  background: linear-gradient(45deg, #3c1053, #ad5389, #3c1053);
  background-attachment: fixed;
  background-size: 500%;
}

.chat .option-moblie .history {
  width: 100%;
  height: 70%;
  overflow: auto;
  overflow-x: hidden;
}

.chat .option-moblie .history::-webkit-scrollbar {
  width: 0.3rem;
}

.chat .option-moblie .history::-webkit-scrollbar-track {
  background-color: rgba(60, 16, 83, 0.4);
}

.chat .option-moblie .history::-webkit-scrollbar-thumb {
  background-color: rgba(173, 83, 137, 0.5);
}

.chat .option-moblie .history .name-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 2px solid #E0EAFC;
  border-radius: 1rem;
  color: #E0EAFC;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.chat .option-moblie .history .name-icon:hover {
  border-color: #ad5389;
  box-shadow: inset 0 0 1rem #ad5389;
}

.chat .option-moblie .history .name-icon p {
  width: 100%;
}

/* Component Admin.jsx */
.admin {
  padding: 1rem;
  background: radial-gradient(circle, #ad5389, #3c1053);
  background-attachment: fixed;
  background-size: 100%;
  overflow: hidden;
  animation: bg 10s ease-in-out;
  overflow: hidden;
}

.admin .content {
  display: grid;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.admin .date-time {
  align-content: center;
  grid-column: 1 / span 2;
  padding: 1rem;
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
}

.admin .data {
  grid-column: 3;
  grid-row: 1 / span 2;
  padding: 1rem;
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
}

.admin .chat {
  grid-column: 4;
  grid-row: 1 / span 3;
  padding: 1rem;
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
}

.admin .logo {
  grid-column: 1;
  grid-row: 3;
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
}

.admin .prompt-templete {
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
}

.admin .token-calculator {
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
}

.admin .test {
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
}

.admin .exit {
  background-color: rgba(60, 16, 83, 0.25);
  border-radius: 1rem;
  overflow: hidden;
}

/* Component Toast.jsx */
.toast {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-left: 1rem;
}

.toast .content {
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
}

.toast .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40%;
  padding: 0.6rem;
}

.toast .header .left {
  display: flex;
  align-items: center;
  background: none;
}

.toast .header .icon {
  padding-left: 2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.toast .header .icon:hover {
  scale: 1.2;
}

.toast .header .left h1 {
  padding-left: 0.4rem;
}

.toast .header .status {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.toast .mean {
  width: 100%;
  height: 60%;
  padding: 1rem;
}

.toast .loader {
  height: 0.2rem;
}