* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #E0EAFC;
    -webkit-box-shadow: 0 0 0px 1000px none inset;
    transition: background-color 5000s ease-in-out 0s;
}

.not-support {
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #ad5389, #3c1053);
    background-attachment: fixed;
    background-size: 100%;
    animation: bg 4s infinite ease;
    color: #E0EAFC;
    z-index: 10;
}

@keyframes bg {
    0% {
        background-size: 500%;
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

/* Mobile */
@media screen and (max-width: 320px) {
    .not-support {
        display: flex;
    }
}

/* 320x568 (min) */
@media screen and (min-width: 320px) {
    * {
        font-size: 12px;
    }

    .not-support {
        display: none;
    }

    .home .content {
        gap: 1rem;
        grid-template-columns: auto auto 40%;
        grid-template-rows: 60% 40% 20% 20%;
        width: 100%;
        height: 30%;
    }

    .home .content .chat {
        justify-items: center;
        align-content: center;
    }

    .home .content .chat .show-message,
    .home .content .chat form {
        display: none;
    }

    .home .content .date-time h1 {
        font-size: 1.4rem;
    }

    .home .content .date-time h3 {
        font-size: 0.8rem;
    }

    .home .content .logo h1 {
        font-size: 1rem;
    }

    .home .content .CoT h1 {
        transform: rotate(90deg);
    }

    .home .content .setting {
        font-size: 0.8rem;
    }

    .home .content .exit {
        font-size: 0.8rem;
    }

    .register .content {
        grid-template-columns: 100% 0%;
    }

    .login .content {
        grid-template-columns: 0% 100%;
    }

    .chat .content {
        display: block;
    }

    .chat .silde-left,
    .chat .silde-right .resizer {
        display: none;
    }

    .chat .silde-right {
        height: 100%;
    }

    .chat .menu-moblie {
        display: flex;
    }
}

/* 414x896 (max) */
@media screen and (min-width: 414px) {
    * {
        font-size: 14px;
    }
}


/* Tablet */
/* 601x962 (min) */
@media screen and (min-width: 601px) {
    * {
        font-size: 16px;
    }
}

/* 1280x800 (max) */
@media screen and (min-width: 1280px) {
    * {
        font-size: 18px;
    }

    .home .content {
        gap: 1.6rem;
        grid-template-columns: auto auto 50%;
        grid-template-rows: 50% 40% 30% 30%;
        width: 90%;
        height: 50%;
    }

    .home .content .chat {
        align-items: normal;
        justify-items: normal;
    }
    
    .home .content .chat h1 {
        display: none;
    }

    .home .content .chat .show-message {
        display: inline-block;
    }

    .home .content .chat form {
        display: flex;
    }

    .home .content .date-time h1 {
        font-size: 1.6rem;
    }

    .home .content .logo h1 {
        font-size: 1.2rem;
    }

    .home .content .CoT h1 {
        transform: rotate(0);
    }

    .home .content .setting {
        font-size: 1rem;
    }

    .home .content .exit {
        font-size: 1rem;
    }

    .register .content {
        grid-template-columns: 60% 40%;
    }

    .login .content {
        grid-template-columns: 40% 60%;
    }

    .chat .content {
        display: flex;
    }

    .chat .silde-left,
    .chat .silde-right .resizer {
        display: block;
    }

    .chat .silde-right {
        height: 100%;
    }

    .chat .menu-moblie {
        display: none;
    }
}

/* Desktop */
/* 1280x720 (min) */
/* 1920x1080 (max) */
@media screen and (min-width: 1920px) {
    * {
        font-size: 28px;
    }
}