* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #E0EAFC;
    -webkit-box-shadow: 0 0 0px 1000px none inset;
    transition: background-color 5000s ease-in-out 0s;
}

.not-support {
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #9733EE, #DA22FF);
    background-attachment: fixed;
    background-size: 500%;
    animation: bg-ift 4s infinite ease;
    color: #E0EAFC;
    z-index: 10;
}

@keyframes bg-ift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

@keyframes bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

/* Mobile */
@media screen and (max-width: 320px) {
    .not-support {
        display: flex;
    }
}

/* 320x568 (min) */
@media screen and (min-width: 320px) {
    * {
        font-size: 12px;
    }

    .not-support {
        display: none;
    }

    .index .content-1 {
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }

    .index .content-2 {
        height: 70vh;
    }

    .register .content {
        grid-template-columns: 100% 0%;
    }

    .login .content {
        grid-template-columns: 0% 100%;
    }
}

/* 414x896 (max) */
@media screen and (min-width: 414px) {
    * {
        font-size: 14px;
    }

    .index .content-1 {
        height: 60%;
    }

    .index .content-2 {
        height: 50vh;
    }
}


/* Tablet */
/* 601x962 (min) */
@media screen and (min-width: 601px) {
    * {
        font-size: 16px;
    }

    .index .content-2 {
        height: 40vh;
    }
}

/* 1280x800 (max) */
@media screen and (min-width: 1280px) {
    * {
        font-size: 18px;
    }

    .index .content-1 {
        height: 100%;
        grid-template-columns: 60% 40%;
    }

    .index .content-2 {
        height: 60vh;
    }

    .register .content {
        grid-template-columns: 60% 40%;
    }

    .login .content {
        grid-template-columns: 40% 60%;
    }
}

/* Desktop */
/* 1280x720 (min) */
/* 1920x1080 (max) */
@media screen and (min-width: 1920px) {
    * {
        font-size: 28px;
    }

    .index .content-1 {
        height: 100%;
        grid-template-columns: 60% 40%;
    }

    .index .content-2 {
        height: 50vh;
    }
}